body {
	width: 100%;
	background-color:#343434;
}

#topbar {
	float: right;
	clear: both;
}

button {

-webkit-appearance: none;
-webkit-user-select: none;
-webkit-writing-mode: horizontal-tb;
align-items: flex-start;
background-color: rgb(255, 255, 255);
background-image: none;
border-bottom-color: rgb(204, 204, 204);
border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(204, 204, 204);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(204, 204, 204);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(204, 204, 204);
border-top-left-radius: 4px;
border-top-right-radius: 4px;
border-top-style: solid;
border-top-width: 1px;
box-sizing: border-box;
color: rgb(51, 51, 51);
cursor: pointer;
display: inline-block;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 14px;
font-style: normal;
font-variant: normal;
font-weight: normal;
height: 34px;
letter-spacing: normal;

margin-bottom: 5px;
margin-left: 0px;
margin-right: 0px;
margin-top: 5px;

padding-bottom: 6px;
padding-left: 12px;
padding-right: 12px;
padding-top: 6px;

	

-webkit-border-radius: 3px;
	background-color: #343434;
	border-radius: 3px;
	border: 0px;
	color: #ffffff;
	display: inline-block;
	margin: auto;
	margin-bottom: 5px;
	padding: 8px;
	text-decoration: none;
}
/* button:hover {
	background: #898B8B;
	border-radius: 3px;
	text-decoration: none;
}  */

button.depressed {
	background-color: #028bcf;
}

button.released {
	background-color: #000000;
}


#sendButton {

-webkit-appearance: none;
-webkit-user-select: none;
-webkit-writing-mode: horizontal-tb;
align-items: flex-start;
background-color: rgb(255, 255, 255);
background-image: none;
border-bottom-color: rgb(204, 204, 204);
border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(204, 204, 204);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(204, 204, 204);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(204, 204, 204);
border-top-left-radius: 4px;
border-top-right-radius: 4px;
border-top-style: solid;
border-top-width: 1px;
box-sizing: border-box;
color: rgb(51, 51, 51);
cursor: pointer;
display: inline-block;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 14px;
font-style: normal;
font-variant: normal;
font-weight: normal;
height: 34px;
letter-spacing: normal;

margin-bottom: 5px;
margin-left: 0px;
margin-right: 0px;
margin-top: 5px;
overflow-x: visible;
overflow-y: visible;
padding-bottom: 6px;
padding-left: 12px;
padding-right: 12px;
padding-top: 6px;	



-webkit-border-radius: 3px;
	background-color: #b73d37;
	border-radius: 3px;
	color: #ffffff;
	display: inline-block;
	margin: auto;
	margin-bottom: 5px;
	padding: 8px;
	text-decoration: none;
	margin-right: 25px;
}

#sendButton:hover {
	background: #7F2A26;
	border-radius: 3px;
	text-decoration: none;
}

.button-link,
input.EditButton,
input#dData,
input#eData {

-webkit-appearance: none;
-webkit-user-select: none;
-webkit-writing-mode: horizontal-tb;
align-items: flex-start;
background-color: rgb(255, 255, 255);
background-image: none;
border-bottom-color: rgb(204, 204, 204);
border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(204, 204, 204);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(204, 204, 204);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(204, 204, 204);
border-top-left-radius: 4px;
border-top-right-radius: 4px;
border-top-style: solid;
border-top-width: 1px;
box-sizing: border-box;
color: rgb(51, 51, 51);
cursor: pointer;
display: inline-block;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 14px;
font-style: normal;
font-variant: normal;
font-weight: normal;
height: 34px;
letter-spacing: normal;

margin-bottom: 5px;
margin-left: 0px;
margin-right: 0px;
margin-top: 5px;
overflow-x: visible;
overflow-y: visible;
padding-bottom: 6px;
padding-left: 12px;
padding-right: 12px;
padding-top: 6px;


	-webkit-border-radius: 3px;
	background-color: #343434;
	border-radius: 3px;
	color: #ffffff;
	display: inline-block;
	margin: auto;
	margin-bottom: 5px;
	padding: 8px;
	text-decoration: none;
	margin-right: 5px;
}
.button-link:hover,
input.EditButton:hover,
input#dData:hover,
input#eData:hover {
	background: #028bcf;
	border-radius: 3px;
	text-decoration: none;
}
.jqmClose,
#newTemplate, 
#deleteTemplateButton, 
#editTemplate, 
#employeesTemplate,
#open_report_button {
	float: right;
	margin-top: 15px;
	margin-right: 5px;
}

input[type=radio].css-checkbox {
	position:absolute; 
	z-index:-1000; 
	top:-1000px; 
	overflow: hidden; 
	clip: rect(0 0 0 0); 
	height:1px; 
	width:1px; 
	margin:-1px; 
	padding:0; 
	border:0;
}

input[type=radio].css-checkbox + label.css-label {
	padding-left:25px;
	height:20px; 
	display:inline-block;
	line-height:20px;
	background-repeat:no-repeat;
	background-position: 0 0;
	/* font-size:20px; */
	vertical-align:middle;
	cursor:pointer;
}

input[type=radio].css-checkbox:checked + label.css-label {
	background-position: 0 -20px;
}

label.css-label {
	background-image:url(http://www.vocshop.com/4data/images/csscheckbox.png);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#employeeSelect {

-webkit-background-clip: border-box;
-webkit-background-origin: padding-box;
-webkit-background-size: auto;
-webkit-box-shadow: none;
-webkit-font-smoothing: auto;
-webkit-rtl-ordering: logical;


border: 1px solid #ccc;
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
border-top-left-radius: 3px;
border-top-right-radius: 3px;

box-shadow: none;
box-sizing: border-box;
color: rgb(34, 34, 34);


height: 34px;
letter-spacing: normal;

margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
outline-color: rgb(34, 34, 34);
outline-style: none;
outline-width: 0px;

padding-left: 20px;


text-align: start;

text-shadow: none;
text-transform: none;
vertical-align: baseline;

word-spacing: 0px;

}

#maindate {

-webkit-background-clip: border-box;
-webkit-background-origin: padding-box;
-webkit-background-size: auto;
-webkit-box-shadow: none;
-webkit-font-smoothing: auto;
-webkit-rtl-ordering: logical;


border: 1px solid #ccc;
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
border-top-left-radius: 3px;
border-top-right-radius: 3px;

box-shadow: none;
box-sizing: border-box;
color: rgb(34, 34, 34);
font-weight: bold;

height: 34px;
letter-spacing: normal;

margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
outline-color: rgb(34, 34, 34);
outline-style: none;
outline-width: 0px;

text-align: center;

text-shadow: none;
text-transform: none;
vertical-align: baseline;

word-spacing: 0px;
width: 100px;

}

#wrapper {
	background-color:#fff;
	margin:0px auto; 
	width:900px;
	min-width: 470px;
	border:1px solid #ccc;
	min-height: 350px;
	padding-left:5px;
	padding-top:5px;
	padding-right:5px;
}

div#hourJobs {
	float:left;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 15px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	letter-spacing: -1px;
}

div#hourJobs span {
	font-weight: normal;
	letter-spacing: normal;
}

div#editmodtemplateList.modalwin.jqmWindow.jqmID5 {
	z-index:100;
}